/* #root,

#chatlist-layout,
#chat-layout, */
#login-layout,
#base-layout,
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#login-layout{
  background-image: url(../public/Blur.png);
  background-position: center;
  background-size: cover;
}

.input-with-inner-button{
  border: var(--bs-border-width) solid var(--bs-border-color);
  border-radius: var(--bs-border-radius);
  display: block;
  width: 100%;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--bs-body-color);
  background-color: var(--bs-body-bg);
  background-clip: padding-box;
  border: var(--bs-border-width) solid var(--bs-border-color);
  appearance: none;
  border-radius: var(--bs-border-radius);
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn-primary{
  color: white!important
}

input{
  outline: none!important
}

.chat-layout>.card{
  height:100vh;
}

.chat-body{
  overflow-y: scroll;
}

.card-footer,
.card-header{
  background-color: white!important;
}

/* .input-no-style{
  border-color: white!important;
  border-radius: 0px!important;
  outline: none!important;
}

.input-no-style,
.input-no-style:active, 
.input-no-style:hover, 
.input-no-style:after, 
.input-no-style:before, 
.input-no-style:focus {
  outline: 0!important;
  outline-offset: 0!important;
  border-color: white!important;
  border-radius: 0px!important;
  border: 0!important;
} */

.btn-no-style{
  border: none; 
  outline: none;
  background-color: white;
  
}

.chatlist-navbar{
  position: absolute;
  display: fixed;
  top: 0px;
  width: 100%;
  font-size: 30px;
}

.msg-rectangle{
  max-width: 75%;
  min-width: 100px;
  background-color: #F2F2F7;
  padding: 4px 8px 4px 6px;
  border-radius: 0px 6px 6px 6px;
  word-wrap: break-word;
  overflow: hidden;
  text-align: start;
  /* background: radial-gradient(60px at bottom left, transparent 49%, #F2F2F7 51%) no-repeat right bottom; */
}
.left-angle{

}
.rigth-angle{

}

.msg-rectangle>p{
  margin: 0px;
}

.msg-time{
  font-size: 12px;
  color: #666668;
  
}